<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CURRICULUM VITAE</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
    <h1 align=center>CURRICULUM VITAE</h1>
    <!--INFORMASI DATA DIRI-->
        <hr>
        <b>PERSONAL INFORMATION</b>
        <hr>
        <table style="width:50%">
            <!--FOTO-->
            <img src="inifoto.jpg" align="right" width="104" height="142">
        <tr>
        <th></th>
        <th></th>
        </tr>
        <tr>
            <td>Nama Lengkap</td>
            <td>: Abdul Hasbi </td>
        </tr>
        <tr>
            <td>Tempat Tanggal Lahir</td>
            <td>: Sukabumi,16 Maret 2004 </td>  
        </tr>
            <td>Alamat</td>
            <td>: Jalan Goalpara Cibereum </td>
        <tr>
            <td>Status</td>
            <td>: Pelajar</td>
        </tr>
            <tr>
            <td>NO HP</td>
            <td>: 081317189175</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>: ahasbi.abdul@gmail.com</td>
        </tr>
        </table>
    <!--RIWAYAT PENDIDIKAN FORMAL-->  
            <hr>
            <b>PENDIDIKAN FORMAL</b>
            <hr>
                <table style="width:80%">
            <tr>
            <th></th>
            <th></th>
            </tr>
            <tr>
                <td>On going</td>
                <td>SMK Negeri 2 Sukabumi</td>
            </tr>
            <tr>
                <td>2017-2019</td>
                <td>SMP Negeri 2 Sukaraja </td>  
            </tr>
                <td>2011-2016</td>
                <td>SDN 1 Sukaraja</td>
            <tr>
                <td>2010-2011</td>
                <td>TK Karya Bhakti</td>
            </tr>
            </table>
   
    <!-- RIWAYAT ORGANISASI-->
                            <hr>
                            <b>ORGANISASI</b><hr>
                            <table style="width:180%">
                        <tr>
                        <th></th>
                        <th></th>
                        </tr>
                        <tr>
                            <td>2016</td>
                            <td>Ketua SUKABUMI MUSIC Crew</td>
                        </tr>
                        </table>
    <!--KEAHLIAN YANG DIMILIKI-->                  
                            <hr>
                            <b>KEAHLIAN</b><hr>
                        Bermain musik<br>
                        <a href="indeks.html">KEMBALI KE INDEKS</a><br>
    </body>
</html>
